.projtitle {
    float: left;
}

.back {
    position: absolute;
    margin-left: 8px;
}

.centertitle {
    width: 100%;
    background-color: #cecece;
    height: 120px;
    border-radius: 6px;
    margin-top: -30px;
    padding-top: 10px;
}

.contentview {
    padding: 30px;
}